:host {
  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .info {
    margin-bottom: 1em;
  }

  .param-list {
    margin-bottom: 1em;
  }

  .return {
    margin-top: 1em;
  }
}
